body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: rgb(226, 230, 238);
}

.site-title {
    color: rgb(63, 15, 145);
}

#my-image {
    box-shadow: 0 0 2px 1px black;
}

section ul li {
    list-style-type: square;
}

section ul li:nth-child(odd) {
    background-color: rgb(193, 201, 227);
}

nav ul {
    list-style: none;
}

nav ul a {
    text-decoration: none;
    background-color: aliceblue;
    border: 1px solid black;
}

nav ul .current,
nav ul a:hover,
nav ul a:focus {
    background-color: rgb(193, 201, 227);
}

